@import "variables";

h1 {
  color: $color-primary;
}

h2 {
  size: 36px;
  color: $color-primary;
  font-weight: 400;
}

.wrapper {
  min-height: 0;
  margin: 0 auto;

  &::after {
    height: 0;
  }
}

.header {
  margin: 2% 0 3%;
  font-weight: 100;
}

.header-feature-small ul {
  color: $color-white;
  width: 90%;
  margin: 7% 0 0;
  list-style-type: none;
}

// scss-lint:disable NestingDepth
.header-feature {
  display: inline-block;

  ul {
    width: 107%;
    padding: 0;
    margin-top: 24px;
    list-style-type: none;
  }

  li {
    margin-left: 3%;
    text-align: center;
    float: left;
    padding: 3px;
    height: 235px;
    width: 193px;

    &:first-child {
      margin-left: -4%;
      padding: 3px;
      width: 193px;

      p {
        padding-top: 18%;
      }
    }

    &:nth-child(2) {
      padding: 5px;
      width: 185px;

      p {
        padding-top: 16%;
      }
    }

    &:nth-child(3) {
      padding: 2px;
      width: 190px;

      p {
        padding-top: 15%;
      }
    }
  }
}
// scss-lint:enable NestingDepth

.gitlab-com-header {
  background: url("/images/gitlab-com/animal.jpg");
  background-size: 100%;

  .content-header {
    text-align: center;
    padding-bottom: 5%;
    height: 100%;
    width: 100%;
    margin-top: -1px;
    background-image: linear-gradient(to bottom, $color-primary 0%, rgba($color-primary, .95) 99%, rgba($color-primary, .99) 100%);
  }

  .row:nth-child(2) {
    display: inline;
  }
}

.color-bg {
  i {
    font-size: 3em;
  }

  p {
    font-size: 21px;
  }

  li {
    color: $color-white;
    font-size: 22px;
  }

  div:nth-child(2) {
    padding-top: 2%;
    padding-bottom: 10px;
  }

  h1 {
    position: relative;
    padding: 64px 0 3px;
    margin-top: 0;
    color: $color-primary;
    font-size: 55px;
  }

  h3 {
    font-size: 32px;
    color: rgba($color-white, .62);
    line-height: 32px;
    padding-bottom: 30px;
    font-weight: 200;
  }
}

.sub-wrapper {
  font-size: 17px;
  font-weight: 200;
}

.panels {
  margin-top: 4%;

  h1:first-child {
    text-align: center;
    margin-bottom: 3%;
  }

  .panel-title {
    font-size: 25px;
  }

  .panel-body {
    font-size: 19px;
    font-weight: 100;
  }
}

.tages {
  margin-top: 5%;
}

.advantages ul p {
  font-weight: 100;
  font-size: 12px;
}

.advantages div:nth-child(3) {
  margin-top: 4%;
  width: 446px;

  img {
    width: 430px;
    position: absolute;
  }

  p {
    font-size: 6em;
    font-weight: 100;
    float: right;
    margin-top: 20px;
  }
}

.logos {
  width: 100%;
  text-align: center;
}

.logo {
  display: inline-block;
  width: 15%;
  margin: auto;
  opacity: .5;
  padding-left: 10px;
  padding-right: 10px;
}


.disclaimer {
  font-size: .75em;
  text-align: center;
}

.support i {
  font-size: 13em;
  color: $color-primary;
  border: 4px solid $color-primary;
  border-radius: 40px;
  padding: 22px;
}

.security {
  margin-bottom: 9%;

  .fa {
    font-size: 10em;
    color: $color-primary;
    margin-left: 10%;
  }
}

.divider {
  margin: auto;
  margin-top: 80px;
  width: 970px;
  border-color: $divider-color;
  border-width: 1px;
  max-width: 100%;
  margin-bottom: 60px;
}

.content ul,
.content li {
  font-size: 16px;
}

.import {
  margin-bottom: 9%;
}

.import-image {
  background: url("/images/gitlab-com/import_options.png");
  padding: 91px;
  background-size: 79%;
  background-repeat: no-repeat;
}

.image-title {
  background: url("/images/gitlab-com/animal.jpg");
  background-size: 100%;

  .row:nth-child(2) {
    display: inline;
  }

  .color-bg {
    padding-top: 0;
    padding-bottom: 4%;
    height: 100%;
    background-image: linear-gradient(to bottom, $color-primary 0%, rgba($color-primary, .85) 99%, rgba($color-primary, .79) 100%);
  }
}
